%aside
  %ul.nav
    = nav_item "Students", cohort_path(cohort_id)
    = nav_item "1-on-1 Schedule", one_on_ones_cohort_path(cohort_id)
    = nav_item "Pairs", cohort_pairs_path(cohort_id)
    = nav_item "Assignments", cohort_assignments_path(cohort_id)