- quizzes = Assessments::Quiz.all.map{|quiz| [quiz.quiz_name, quiz.quiz_uuid] }.uniq

- @cohorts.each do |cohort|
  .cohort
    = cohort.name
    %ul
      - quizzes.each do |(name, uuid)|
        %li= link_to name, assessments_quiz_grades_summary_path(cohort, uuid)
