%ul.nav
  %li= link_to "Generate One-on-one schedule", one_on_ones_cohort_path(params[:id])
  %li= link_to "Generate Pairs", cohort_pairs_path(params[:id])

%table.students
  %thead
    %th
      Student
    %th
      &nbsp;
  %tbody
    = render partial: "student", collection: students, locals:{lucky_winner: lucky_winner}