%section
  %h1 Student Dashboard

  %h2 Class Info
  %p.class-info Class details can be found #{link_to "here.", class_info_path}

%section
  %h1 Assignments

  %ul
  - @assignments.each do |assignment|
    %li= assignment.name
