%section
  %h1 Student Dashboard

  %h2 Class Info
  %p.class-info Class details can be found #{link_to "here.", class_info_path}

%section
  %h1 Exercises

  %ul
  - @exercises.each do |exercise|
    %li= exercise.name
