%h1= "Assignments for #{@cohort.name}"

= link_to "New Assignment", new_cohort_assignment_path

%ul
  - @assignments.each do |assignment|
    %li= link_to assignment.name, cohort_assignment_path(@cohort, assignment)
