%h1
  Official gSchool calendar

%p
  This calendar is the official source for all dates related to gSchool.

%iframe{src:"http://www.google.com/calendar/embed?src=galvanize.it_v5e0gr82sk2i881uv88dft9lpk%40group.calendar.google.com&ctz=America/Denver", style:"border: 0", width:"800", height:"600", frameborder:"0", scrolling:"no"}