%h1 Your Pre-test

- pre_test_presenter.answers.each do |answer|
  .question-answer-pair
    .question= link_to_if !pre_test.submitted?, answer.question, pre_test_question_path(answer.question_id)
    .answer
      %pre
        %code
          = answer.answer

- if !pre_test.submitted?
  = form_for pre_test, url: submit_pre_test_path do |f|
    = f.submit "Submit"
