.sub-nav
  %h1= @cohort.name

  = render partial: 'cohorts/cohort_sub_nav', locals: { cohort_id: params[:cohort_id] }

  .content
    .action-table
      %table
        %thead
          %tr
            %th Exercise Name
        %tbody
          - @exercises.each do |exercise|
            %tr
              %td= link_to exercise.name, cohort_exercise_path(@cohort, exercise)
      .actions
        = link_to "New Exercise", new_cohort_exercise_path
