%h2 Add Exercise

= form_tag cohort_exercises_path(params[:cohort_id]) do
  = collection_select(:cohort_exercise, :exercise_id, Exercise.all, :id, :name, disabled: @cohort.exercises.map{|exercise| exercise.id.to_s})
  = submit_tag 'Add Exercise', class: 'action'

