.question-answer-pair {
  margin-bottom: 2em;
}

.pretest-empty-answer {
  background: #efefef;
  padding: 1em;
  color: #ccc;
  margin: 1em 0;
  font-size: .9rem;
}

.pre-test-question-label {
  display: block;
  margin-bottom: 1rem;
}

.pre-test-question-field {
  width: 100%;
  height: 8em;
  margin-bottom: 1rem;
  padding: 1em;
  color: #666;
  font-weight: bold;
  font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
}

.pre-test-answers-link {
  margin-top: 1rem;
  display: block;
}