%h1 Feedback For:
=form_for feedback_entry, url: feedback_entries_path, method: :post, html: {class: 'feedback-form'} do |f|
  = f.collection_select :recipient_id, users_that_can_be_given_feedback, :id, :full_name
  = f.text_area :comment, rows: 15

  = f.submit t('submit'), class: 'action'