%p
  You have just been added to the gSchool student portal. In preparation for your upcoming session,
  please go through the #{link_to "preparation guide", preparation_path}. If you have any questions, please email us at #{mail_to 'currentStudents@gschool.it'}.


