html, body {
  height:100%;
}

#body_container {
  min-height:100%;
  position:relative;
}

main {
  @include outer-container;

  padding: 0 0.5em 3.5em;
}

section {
  @include outer-container;

  padding-bottom: $base-line-height;
  border-bottom: 1px solid lighten($dark-gray, 50%);
  margin-bottom: 30px;

  &:last-child {
    border-bottom: none;
  }

  h2 {
    margin-bottom: $base-line-height / 2;
  }
}

.actions a, .actions input {
  margin-left: 5px;
}

.actions .cancel {
  @include button(simple, gray);
}