@import 'variables.css.scss';

.action {
  background-color: $orange;
  color: #ffffff;
  padding: 5px 15px;
}

#flash {
  border: 2px solid $grey;
  background-color: $orange;
  padding: .5em;
  text-align: center;
  font-size: 1.25em;
}