.action-table {
  @include clearfix;

  table {
    margin-bottom: $base-line-height;
  }

  .actions {
    float: right;

    select {
      display: inline;
    }
    a, input[type=submit] {
      @extend button;
      display: inline;
    }
  }
}