.card {
  @include span-columns(4);
  border: 1px solid transparentize($dark-gray, 0.5);
  border-radius: 3px;
  color: black;
  padding: $base-line-height;

  &:hover {
    color: black;
    background-color: transparentize($dark-gray, .8);
  }

  .title {
    @extend h3;
    text-align: center;
    margin-bottom: 1em;

  }
}