footer {
  margin-top: 20px;
  border-top: 1px solid transparentize($orange-dark, 0.5);
  background-color: transparentize($light-gray, .8);

  > section {
    @include outer-container;
    padding: $base-line-height 0;
    margin-bottom: 0;
  }
}