.sub-nav {
  @include outer-container;
  @extend section;

  aside {
    @include span-columns(12);
    border-radius: 3px;
    background-color: transparentize($light-gray, 0.5);
    border: 1px solid transparentize($light-gray, 0.5);

    ul.nav {
      li {
        padding: 5px 10px;
        display: inline-block;
      }

      .active-nav-item {
        border-bottom: 2px solid $orange-dark;
      }
    }
  }

  .content {
    margin-top: $base-line-height;

    @include span-columns(12);
  }
}
