.sub-nav {
  @include outer-container;

  aside {
    @include span-columns(3);
    margin-top: $base-line-height;
    padding: $base-line-height;
    border-radius: 3px;
    background-color: transparentize($light-gray, 0.5);
    border: 1px solid transparentize($light-gray, 0.5);

    ul.nav {
      li {
        padding: 5px 10px;
      }

      .active-nav-item {
        border-left: 2px solid $orange-dark;
      }
    }
  }

  .content {
    margin-top: $base-line-height;

    @include span-columns(9);
  }
}
