%h2 My Job Dashboard

= link_to "New Job Opportunity", new_job_opportunity_path

%table.table
  %thead
    %tr
      %th Company Name
  %tbody
    - job_opportunities.each do |job_opportunity|
      %tr
        %td= job_opportunity.company_name

