- content_for(:body) do
  = yield
- content_for(:footer) do
  All material licensed under #{link_to 'Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License', 'http://creativecommons.org/licenses/by-nc-sa/4.0/', rel:'license', target: 'license'}
  =image_tag '//i.creativecommons.org/l/by-nc-sa/4.0/80x15.png', alt: "Creative Commons License"
= render template: 'layouts/base'